
body {
    font-size: 1.125rem;
    overflow-x: hidden;
    color: rgb(136, 146, 176);
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    background-color: rgb(10, 25, 47);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
h5 {
    color: rgb(136, 146, 176);
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 0.5;
    /* animation: 2s ease-out 1s 1 animate; */
}
h1 {
    color: rgb(204, 214, 246);
    font-size: 4em;
    margin: 0 0;
    line-height: .5;
    /* animation: 2s ease-out 2s animate; */
}

h2 {
    color: rgb(136, 146, 176);
    font-size: 4.2rem;
    line-height: 0.5;
    /* animation: 2s ease-in-out animate; */
}
p {
    font-size: 1.1rem;
    max-width: 100%;
    line-height: 1.3;
    /* animation: 2s ease-out 4s animate; */
}
nav {
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    position: fixed;
    background-color: rgb(10, 25, 47);
    z-index: 11;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
	justify-content: space-evenly;
    align-items: center;
}
nav h1 {
    width: 45%;
    font-size: 1.8rem;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}
.nav-links {
	display: flex;
    justify-content: flex-end;
    width: 45%;
    height: 70px;
    align-items: center;
    transition: animate 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}
.nav-links li {
    display: flex;
    width: 80px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.nav-links a {
	text-decoration: none;
    font-size: .9rem; 
    color: rgb(204, 214, 246);
}

.burger{
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height:3px;
	border-radius: 8px;
	background-color: cyan;
	margin: 5px; 
	transition: all 0.3s ease;
}
a.resume-btn {
    padding: .8em 1.5em;
    border: 1px solid whitesmoke;
    border-radius: .2em;
}

/* Main content-1 
#################################################################################
*/

.column-1 {
    width: 80%;
    margin: 7em 14.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: .5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: animate 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(5%);
        transition: 1s ease-out ;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.column-1 p {
    width: 50%;
    max-width: 500px;
}
.get-in-touch {
    border: 1px solid cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 1.75rem;
    border-radius: 3px;
    margin-top: 50px;
    background-color: transparent;
    font-size: 1rem;
    text-decoration: none;
    color: whitesmoke;
}

/* ################################################################################# */

/* About section */

.column-2 {
    width: 70%;
    display: flex;
    line-height: 1.3;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20em auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: 1s ease-out 0.5s 1 animate;
}

.column-2 h1 {
    font-size: 2rem;
    margin-bottom: 2em;
}

.col-1 {
    width: 50%;
}
.col-1 ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.col-1 li {
    padding: .6em;
    list-style-image: url("https://img.icons8.com/material-rounded/24/000000/rhombus.png");
}
.col-2 {
    width: 40%;
    margin-top: 3em;
}
.col-2 img {
    width: 100%;
    opacity: 0.7;
}
.col-2 img:hover {
    opacity: 1;
    transition: all 0.2s ease-in;
}

/* ################################################################## */


.column-3 {
    width: 70%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: 1s ease-out 2s animate;
}
.achievement_tag {
    width: 100%;
    display: flex;
}
.achievement_tag h3 {
    font-size: 2rem;
}

.section {
    width: 100%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.col-3 {
    width: 50%;
}
.col-3 img{
    width: 100%;
    opacity: 0.8;
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}
.col-3 img:hover{
    opacity: 1;
    filter: grayscale(0%);
    transition: all 0.3s ease-in;
}

.para {
    width: 45%;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
.para p{
    width: 100%;
    background-color: #1d1b38;
    box-shadow: .5px 0px 20px black;
    padding: 1em 2em;
    z-index: 4;
}
.para img {
    float: right;
    width: 20%;
    margin-top: 5em;
    margin-right: 3em;
}
.para h3 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
}
/* ######################################################################################### */

.left-line {
    height: 45%;
    width: 5%;
    left: 0;
    display: flex;
    bottom: 0;
    position: fixed;
    justify-content: space-between;
    align-items: flex-start;
    writing-mode: vertical-rl;
    flex-direction: row-reverse;
}
.left-line hr {
    width: .1%;
    height: 35%;
    margin-bottom: 0;
}
.left-social-icons {
    display: flex;
    width: 30%;
    height: 55%;
    justify-content: space-between;
}
.left-social-icons a {
    color: rgb(204, 214, 246);
    cursor: pointer;
}
.right-line {
    height: 45%;
    width: 5%;
    right: 0;
    float: right;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    writing-mode: vertical-rl;
    flex-direction: row-reverse;
}
.right-line hr { 
    width: .1%;
    height: 35%;
    margin-bottom: 0;
}
.right-line a{
    display: flex;
    width: 30%;
    height: 50%;
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}
/* ####################################################################################### */
.footer{
    width: 100%;
    color: whitesmoke;
    font-size: 12px; 
    text-align: center;
      }
.footer span{
    color: red;
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

      